#	files/directories with these extensions are not added to the VCS

*.iml
*/.idea/*
*.MF
*/out/*
*/logs/*

#	milestone1-specific ignores
Milestone1/echoServer/bin/*
Milestone1/echoServer/echoServer.jar
Milestone1/echoServer/logs/*

Milestone1/echoClient/bin/*
Milestone1/echoClient/logs/*
Milestone1/echoClient/echoClient.jar

MileStone1/BasicStorageServer-stub/bin/*
MileStone1/BasicStorageServer-stub/ms1-client.jar
MileStone1/BasicStorageServer-stub/ms1-server.jar

