localhost,8080,NA
localhost,8081,A
localhost,8082,A
localhost,8083,A
localhost,8084,A
localhost,8085,A
localhost,8086,A
localhost,8087,A
localhost,8088,A
localhost,8089,A
localhost,8090,A
localhost,8091,A
localhost,8092,A
localhost,8093,A
localhost,8094,A
localhost,8095,A
localhost,8096,A
localhost,8097,A
localhost,8098,A
localhost,8099,A
localhost,8100,A
localhost,8101,A
localhost,8102,A
localhost,8103,A
localhost,8104,A
localhost,8105,A
localhost,8106,A
localhost,8107,A
localhost,8108,A
localhost,8109,A
localhost,8110,A
localhost,8111,A
localhost,8112,A
localhost,8113,A
localhost,8114,A
localhost,8115,A
localhost,8116,A
localhost,8117,A
localhost,8118,A
localhost,8119,A
localhost,8120,A
localhost,8121,A
localhost,8122,A
localhost,8123,A
localhost,8124,A
localhost,8125,A
localhost,8126,A
localhost,8127,A
localhost,8128,A
localhost,8129,A
localhost,8130,A
localhost,8131,A
localhost,8132,A
localhost,8133,A
localhost,8134,A
localhost,8135,A
localhost,8136,A
localhost,8137,A
localhost,8138,A
localhost,8139,A
localhost,8140,A
localhost,8141,A
localhost,8142,A
localhost,8143,A
localhost,8144,A
localhost,8145,A
localhost,8146,A
localhost,8147,A
localhost,8148,A
localhost,8149,A
localhost,8150,A
localhost,8151,A
localhost,8152,A
localhost,8153,A
localhost,8154,A
localhost,8155,A
localhost,8156,A
localhost,8157,A
localhost,8158,A
localhost,8159,A
localhost,8160,A
localhost,8161,A
localhost,8162,A
localhost,8163,A
localhost,8164,A
localhost,8165,A
localhost,8166,A
localhost,8167,A
localhost,8168,A
localhost,8169,A
localhost,8170,A
localhost,8171,A
localhost,8172,A
localhost,8173,A
localhost,8174,A
localhost,8175,A
localhost,8176,A
localhost,8177,A
localhost,8178,A
localhost,8179,A
